<div class="container">
  <br>
  <h2>Log In</h2>
  <br>

  <div class="col-6" *ngIf="flag.telephone">
    <input type="text" [(ngModel)]="phoneNumber.country" class="form-control" placeholder="Country code" maxlength="">
    <br>
    <input type="text" [(ngModel)]="phoneNumber.telephone" class="form-control" placeholder="Telephone" maxlength="">
    <br>
    <div id="recaptcha-container"></div>
    <button class="btn btn-primary" (click)="sendLoginCode()" style="margin-top: 20px;">SMS Text Login Code</button>

   


  </div>

  <div class="col-6" *ngIf="flag.verification">
    <label for="code">Enter your Verification Code Here</label>
    <br>
    <input type="text" class="form-control" [(ngModel)]="verificationCode">
    <br>
    <button class="btn btn-primary" (click)="verifyLoginCode()">Verify</button>
  </div>

</div>